/* Page Accueil */

#banniereAccueil {
    text-align: center;
    color: white;
    background-image: 
      linear-gradient(
        rgba(74, 74, 74,0.5), rgba(54, 54, 54, 0.5)
      ),
      url('../images/banniere.jpg');
    background-position: center;
    background-size: cover;
    align-items: center;
    height: 500px;
    display:flex; 
    justify-content:center;
    position: relative;
}

#banniereAccueil h2 {
    font-size: 40px;
}

section h2 {
    font-size: xx-large;
    font-family: 'Open Sans';
    color: #5271ff;
}

#paragraphe1, #paragraphe2 {
    display: flex;
    justify-content: space-around;
    /*haut droit bas gauche*/
    margin: 5% 15% 5% 15%;
    height: 400px;
}

.paraTexte {
    display: flex; 
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    font-size: larger;
}

.paraTexte p {
    text-align: justify;
}

.paraImg1 {
    padding-left: 100px;
}

.paraImg2 {
    padding-right: 100px;
}

#paragraphe1 h2, #paragraphe2 h2{
    text-align: center;
    margin-bottom: 20px;
}

#paragraphe1 a, #paragraphe2 a {
    font-weight: bold;
    color: #5271ff;
}

#competences {
    background-color: #5271ff;
    padding: 20px 20px;
    color: white;
}

#competences h2 {
    color: white;
    text-align: center;
    margin-bottom: 20px;
}

#competencesCards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr; 
    gap: 40px 40px; 
}

.card {
    width: auto;
    display: flex;
    flex-direction: column;
    background-color: white;
    min-height: 200px;
    text-align: center;
    perspective: 150rem;
    margin: 2rem;
    padding: 5%;
    border-radius: 30px;
    color: #004aad;
}

.card strong {
    font-size: larger;
}

.card p {
    text-align: justify;
}

#clients {
    text-align: center;
    margin-bottom: 0;
}

#avisClients {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 40px 40px;
    margin-bottom: 30px;
}

.avisCard {
    background-color: #004aad;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 10px;
    margin: 2rem;
    padding: 5px 5px;
}

.avisCard>div {
    width: 70%;
    color: white;
}

.avisCard p {
    text-align: justify;
}

#partenaires {
    background-color: #5271ff;
    padding: 25px 0;
}
#partenaires div {
    display: flex;
    justify-content: space-around;
    margin-bottom: 60px;
}

#partenaires h2 {
    color: white;
    text-align: center;
    margin-bottom: 50px;
}

#partenaires img {
    filter: grayscale(1);
    width: 150px;
}