* {
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-family: 'Open Sans', sans-serif;
}

body {
    padding: 0;
    margin: 0;
}

/* HEADER */
body>header {
    background-color: #004aad;
    color: white;
    height: 110px;
    /*padding: top right bottom left; ou padding: y x;*/
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

body>header>nav {
    width: 45%;
    height: 100%;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.header_list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

.header_list>li {
    height: 100%;
    position: relative;
    line-height: 110px;
    width: 33%;
    text-align: center;
}

.header_list>li>a {
    border-bottom: 3px solid #004aad;
    transition: border-bottom 0.5s ease-in;
}

.header_list>li:hover>a {
    border-bottom: 3px solid white;
}

.header_list>li:hover>.ddown {
    opacity: 1;
    visibility: visible;
}

.ddown {
    display: block;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    z-index: 99;
    background-color: #004aad;
    width: 100%;
    transition: opacity 0.5s ease-in, visibility 0.5s ease-in;
    text-align: center;
}

.ddown>li {
    line-height: 50px;
}

.ddow>li:hover>a {
    border-bottom: 3px solid white;
}

.ddown>li>a:hover {
    color: #b3b3b3;
}

.ddown>li>a {
    border-bottom: 3px solid #004aad;
    transition: all 0.5s ease-in;
    width: 100%;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    height: 100%;
}

.logo a {
    display: flex;
    height: 75%;
    align-items: center;
}

.logo a h1 {
    padding-left: 10px;
}

.boxCompte {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25%;
    height: 100%;
}

.lienCompte {
    border-radius: 30px;
    padding: 5px 20px;
    background-color: #5271ff;
    color: white;
    transition: all 0.2s ease-in;
}

.lienCompte:hover {
    transform: scale(1.1);
}

/* FOOTER */
body footer {
    background-color: #004aad;
    color: white;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 40px 0;
    padding-top: 70px;
}

#texteFooter {
    text-align: center;
    margin-bottom: 20px;
}

#texteFooter>strong {
    font-weight: bold;
    text-align: center;
    font-size: 30px;
}

#texteFooter>p {
    margin-top: 30px;
}

/*Suppression des décorations et couleurs pour les liens visité*/
a {
    text-decoration: none;
    color: white;
}

a:visited {
    color: white;
}

footer a {
    transition: all 0.2s ease-in;
}

footer a:hover {
    color: #b3b3b3;
}