#banniereAccueil {
    text-align: center;
    color: white;
    background-image: 
      linear-gradient(
        rgba(74, 74, 74,0.5), rgba(54, 54, 54, 0.5)
      ),
      url('../images/story.jpg');
    background-position: top center;
    background-size: cover;
    height: 500px;
    align-items: center;
    display: flex; 
    justify-content:center;
    position: relative;
}

#banniereAccueil h2 {
    font-size: 40px;
}

main p {
    font-size: larger;
}

.histoire {
    text-align: justify;
    font-size: larger;
    width: 60%;
    margin: 0 auto;
}

#discoursAdelaide {
    margin: 150px auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 60%;
    text-align: justify;
}

#discoursAdelaide>img {
    width: 200px;
    border-radius: 50%;
    filter: grayscale(100%);
}

#discoursAdelaide>div {
    width: 60%;
}

#equipe {
    background-color: #004aad;
    padding: 30px 0;
    color: white;
    margin-top: 60px;
}

#equipe>h2 {
    font-family: 'Open Sans';
    margin: 0 0;
    font-size: xx-large;
    text-align: center;
}

#equipe>p {
    margin-top: 0;
    text-align: center;
}

#employes {
    display: flex;
    justify-content: space-around;
    margin: 50px 0;
}

.card {
    max-width: 400px;
    background-color: white;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
    border-radius: 10px;
}

.card strong {
    color: #004aad;
}

.card>p {
    margin: 20px 15px;
}

.card img {
    width: 100%;
    filter: grayscale(100%);
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

#contact {
    background-color: #5271ff;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#contact h2
{
    font-size: xx-large;
    font-family: 'Open Sans';
    margin-bottom: 20px;
}

form {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.champ {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
}

input, textarea {
    width: 400px;
    margin-top: 5px;
    border: none;
}

input {
    height: 25px;
}

input:focus, textarea:focus {
    border: none;
}

form button {
    background-color: white;
    border-radius: 30px;
    height: 45px;
    width: 150px;
    border: none;
    color: #004aad;
    font-weight: bold;
    transition: all 0.2s ease-in;
}

form button:hover {
    background-color: #004aad;
    color: white;
}


