.services_presentation {
    text-align: center;
    color:white;
    background-image: 
      linear-gradient(
        rgba(74, 74, 74,0.5), rgba(54, 54, 54, 0.5)
      ),
      url('../images/services.png');
    background-position: top center;
    background-size: cover;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.services_presentation>h2 {
    font-size: 40px;
}

.offres {
    padding-top: 8%;
    padding-bottom: 5%;
    display: flex;
    justify-content: space-evenly;
    background-color: white;
}

.offres>div {
    border-radius: 20px;
    height: 600px;
    width: 18%;
    background-color: #f6f6f6;
    transition: transform 0.3s ease-in;
}

.offres>div:hover {
    transform: scale(1.1);
}

.offres ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.service {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 5% 25% 50% 20%;
    justify-items: center;
    align-items: center;
    grid-template-areas: 
    "CARD_HEAD"
    "SERVICE_NAME"
    "INFOS"
    "BUTTON";
}

.mesure {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 5% 25% 50% 20%;
    justify-items: center;
    align-items: center;
    grid-template-areas: 
    "CARD_HEAD"
    "SERVICE_NAME"
    "INFOS"
    "BUTTON";
}

.card_head {
    grid-area: CARD_HEAD;
    width: 100%;
    height: 100%;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.service_name {
    grid-area: SERVICE_NAME;
    text-align: center;
}

.service_name strong {
    font-size: larger;
    color: #5271ff;
}

.infos {
    text-align: center;
    grid-area: INFOS;
}

.button_select {
    grid-area: BUTTON;
    border-radius: 20px;
    padding: 10px;
    width: 80%;
    color: white;
    transition: transform 0.2s ease-in;
    display: flex;
    justify-content: center;
}

.button_select:hover {
    transform: scale(1.05);
}

.button_select a {
    width: 100%;
    height: 100%;
    text-align: center;
}

.classique {
    background-color: #5271ff;
}

.surmesure {
    background-color: #004aad;
}

.para {
    height: 450px;
    top: 0;
}

.para p {
    margin-left: 20%;
    margin-right: 20%;
    padding-top: 7%;
    text-align: justify;
    color: black;
    font-size: larger;
}